@{
    Layout = "_Layout";
    var content = ViewBag.content as ContentPage;
    var contents = ViewBag.contents as List<ContentPage>;
    int LanguageID = (int)ViewBag.LanguageID;
    var User = ViewBag.User as User;
}

@await Component.InvokeAsync("MenuView", new { type = "SubHeader" })

<div class="section-full p-t80 p-b50 inner-page-padding">
    <div class="container">

        <!-- GALLERY CONTENT START -->
        <div class="blog-single-space max-w900 ml-auto mr-auto">


            <div class="blog-post blog-detail text-black">
                <div class="sx-post-media">
                    <div class="portfolio-item">
                        <img class="img-responsive" src="http://interalcms.zonagency.com/fileupload/UserFiles/Folders/@(content.Picture!=null?content.Picture.Link:"")" alt="@(content.Picture!=null?content.Picture.Alt:"")">
                    </div>
                </div>

                <div class="sx-post-title ">
                    <h3 class="post-title">@Html.Raw(content.Description)</h3>
                </div>


                <div class="sx-post-text">
                    @Html.Raw(content.ContentData)
                    <div class="row">
                        @foreach (var item in content.Gallery)
                        {
                            <div class="col-md-6">
                                <div class="sx-box m-b30">
                                    <div class="sx-media">
                                        <img src="http://interalcms.zonagency.com/fileupload/UserFiles/Folders/@item.Link" alt="@item.Alt">
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- GALLERY CONTENT END -->
</div>


